body { 
    color:white; 
    font-family: 'Courier New', Courier, monospace; 
    background-color: black;
}


 
pre.main {
	text-decoration: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	padding:10px;
	line-height: 13px;
	font-size: 12px;
}

a,a:visited,a:hover {
	color:#fff;
	text-decoration: none;
}

a:hover {
	background-image: url('background.gif');
	background-repeat:repeat;

}

a.links {
	float: right;
}

 
@media screen and (max-width: 480px) {
	pre.main {
		line-height: 12px;
		font-size: 11px;
		
	}
} 